@use "../utilties" as *;
@include breakpoint-up("medium") {
 .grid {
  text-align: left;
  justify-content: center;
  align-items: center;
  gap: rem(20);
  margin-bottom: rem(40);
  .text {
   display: grid;
   justify-content: center;
   align-items: center;
   h1 {
    font-size: rem(35);
    margin-inline: 0;
   }
   p {
    max-width: 50ch;
    font-size: rem(16);
   }
   .btn {
    width: 50%;
   }
  }
  .icons {
   text-align: center;
  }
 }
}
@include breakpoint-up("medium866") {
 .grid {
  grid-template-columns: 1fr 1fr;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(0);
  position: relative;
  gap: 0;
  .illustration {
   margin-right: rem(40);
  }
  .text {
   h1 {
    margin-inline: 0;
    font-size: rem(35);
   }
   p {
    margin-inline: 0;
    max-width: 50ch;
    font-size: rem(16);
   }
   .btn {
    width: 50%;
   }
  }
  .icons {
   grid-column: 2 / 3;
   text-align: right;
  }
 }
}
@include breakpoint-up("large") {
 body {
  //   height: 100%;
  padding: rem(40);
  padding-top: rem(70);
 }
 .header {
  margin-inline: auto;
  max-width: 90%;
  margin-bottom: rem(60);
 }
 main {
  max-width: 90%;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
 }
 .grid {
  grid-template-columns: 1fr 1fr;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-bottom: rem(0);
  position: relative;
  gap: 0;
  .illustration {
   margin-right: rem(40);
  }
  .text {
   h1 {
    margin-inline: 0;
    font-size: rem(35);
   }
   p {
    margin-inline: 0;
    max-width: 50ch;
    font-size: rem(16);
   }
   .btn {
    width: 50%;
   }
  }
  .icons {
   grid-column: 2 / 3;
   text-align: right;
   i {
    text-align: center;
   }
  }
 }
}
