@use "./functions" as f;
:root {
 // Primary
 --bg-body: hsl(257, 40%, 49%);
 --hover-affect: hsl(300, 69%, 71%);

 //  Neutral

 // font
 --main-font: "Open Sans", sans-serif;
 --second-font: "Poppins", sans-serif;
 --main-fs: f.rem(16);
}
